			<div id="categories">
        
        <div class="category">
         Hi
				</div>
        

				<div class="welcome">
					Welcome, Admin
				</div>
				<div class="category">
					<a href="/posts/new">New Post</a>
				</div>
				<div class="category">
					<a href="/logout" data-method="delete" rel="nofollow">Logout</a>

				</div>
			</div>

